{% extends 'base.html.twig' %}

{% block body %}
	<div style="max-width: 800px; margin: auto; padding: 20px;">

		<h1 style="margin-bottom: 20px;">CRUD Operation</h1>

		<form method="get" action="{{ path('person_index') }}" style="margin-bottom: 20px;">
			<label for="search" style="margin-right: 10px;">Search:</label>
			<input type="text" name="search" id="search" value="{{ app.request.query.get('search') }}">
			<button type="submit" style="margin-left: 10px;">Search</button>
		</form>

		<table style="width: 100%; border-collapse: collapse; margin-bottom: 40px;text-align: left;">
			<thead>
				<tr style="background-color: #f2f2f2;">
					<th style="padding: 10px;">Surname</th>
					<th style="padding: 10px;">Last Name</th>
					<th style="padding: 10px;">Age</th>
					<th style="padding: 10px;">Sex</th>
					<th style="padding: 10px;">Action</th>
				</tr>
			</thead>
			<tbody>
				{% for person in people %}
					<tr style="border-bottom: 1px solid #ddd;">
						<td style="padding: 10px;">{{ person.surname }}</td>
						<td style="padding: 10px;">{{ person.lastName }}</td>
						<td style="padding: 10px;">{{ person.age }}</td>
						<td style="padding: 10px;">{{ person.sex }}</td>
						<td style="padding: 10px;">
							<a href="{{ path('person_edit', {'id': person.id}) }}" style="margin-right: 5px;">Edit</a>
							<a href="{{ path('person_delete', {'id': person.id}) }}" onclick="return confirm('Are you sure?')">Delete</a>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>

		<a href="{{ path('person_new') }}" style="text-decoration: none; padding: 10px; background-color: #28a745; color: #fff; border-radius: 5px;">Add Person</a>

		<div style="margin-top: 20px;">
			<p>Total Individuals:
				{{ totalIndividuals }}</p>
			<p>Percentage of Males:
				{{ percentageMales }}%</p>
			<p>Percentage of Females:
				{{ percentageFemales }}%</p>
		</div>

	</div>
{% endblock %}
