{% extends 'base.html.twig' %}

{% block body %}
	<div style="max-width: 400px; margin: auto; padding: 20px;">

		<h1>Create a New Person</h1>

		{{ form_start(form) }}

		<div style="margin-bottom: 10px;">
			{{ form_label(form.surname) }}
			{{ form_widget(form.surname) }}
		</div>

		<div style="margin-bottom: 10px;">
			{{ form_label(form.last_name) }}
			{{ form_widget(form.last_name) }}
		</div>

		<div style="margin-bottom: 10px;">
			{{ form_label(form.age) }}
			{{ form_widget(form.age) }}
		</div>

		<div style="margin-bottom: 10px;">
			{{ form_label(form.sex) }}
			{{ form_widget(form.sex) }}
		</div>

		<button type="submit" style="padding: 10px; background-color: #28a745; color: #fff; border: none; border-radius: 5px;">Create</button>
		{{ form_end(form) }}

		<a href="{{ path('person_index') }}" style="text-decoration: none; display: block; margin-top: 10px; color: #28a745;">Back to the list</a>

	</div>
{% endblock %}
