{# templates/person/show.html.twig #}

{% extends 'base.html.twig' %}

{% block body %}
	<h1>Person</h1>

	<table border="1">
		<tbody>
			<tr>
				<th>Surname</th>
				<td>{{ person.surname }}</td>
			</tr>
			<tr>
				<th>Last Name</th>
				<td>{{ person.lastName }}</td>
			</tr>
			<tr>
				<th>Age</th>
				<td>{{ person.age }}</td>
			</tr>
			<tr>
				<th>Sex</th>
				<td>{{ person.sex }}</td>
			</tr>
		</tbody>
	</table>

	<a href="{{ path('person_index') }}">Back to the list</a>
{% endblock %}
